<div class="title-cards">
    <h1>PRODUCTOS</h1>
</div>
<div class="container-card">
    <div class="card">
        <figure>
            <img
                src="./assets/img/refrigeradora.png">
        </figure>
        <div class="contenido-card">
            <h3>REFRIGERADORA</h3>
            <p>Haceb 11 Pies Titanio 222L C/Dispensador</p>
            <h4>$ 395,00</h4>
            <a href="#">COMPRAR</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img src="./assets/img/lavadora.png">
        </figure>
        <div class="contenido-card">
            <h3>LAVADORA</h3>
            <p>LG 18Kg Inverter Turbo</p>
            <h4>$ 535,00</h4>
            <a href="#">COMPRAR</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img
                src="./assets/img/cocina.png">
        </figure>
        <div class="contenido-card">
            <h3>COCINA</h3>
            <p>Indurama 4H Gas 20 Pulg</p>
            <h4>$ 199,00</h4>
            <a href="#">COMPRAR</a>
        </div>
    </div>
</div>
<div class="container-card">
    <div class="card">
        <figure>
            <img
                src="./assets/img/aire.png">
        </figure>
        <div class="contenido-card">
            <h3>AIRE ACONDICIONADO</h3>
            <p>Condicion 12000btu alt Efic (Unidad Externa)</p>
            <h4>$ 285,00</h4>
            <a href="#">COMPRAR</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img src="./assets/img/televisor.png">
        </figure>
        <div class="contenido-card">
            <h3>TELEVISOR</h3>
            <p>TCL led 32 Android SmarTV / 32s60A</p>
            <h4>$ 210,00</h4>
            <a href="#">COMPRAR</a>
        </div>
    </div>
    <div class="card">
        <figure>
            <img
                src="./assets/img/freidora.png">
        </figure>
        <div class="contenido-card">
            <h3>FREIDORA DE AIRE</h3>
            <p>Oster 1000W 4LT Digital</p>
            <h4>$ 155,00</h4>
            <a href="#">COMPRAR</a>
        </div>
    </div>
</div>