<div class="about">
    <div class="left">
        <img src="./assets/img/logo.png" alt="">
    </div>
    <div class="right">
        <h1>MI BODEGA</h1>
        <h3>
            Somos tus mejores aliados. Buscamos siempre la mayor comodidad para tu hogar y la calidad que te mereces para hacer más fácil 
            el acceso a tus electrodomésticos. Porque unimos la eficiencia, servicio, ahorro e innovación. Con nosotros encuentras productos 
            para el hogar, industria y tecnología en general
        </h3>
    </div>
</div>